<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HProgramming.Properties.Settings.msdbConnectionString"
            connectionString="Data Source=DESKTOP-FLN043B\CYBDRY;Initial Catalog=msdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HProgramming.Properties.Settings.masterConnectionString"
            connectionString="Data Source=DESKTOP-FLN043B;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HProgramming.Properties.Settings.HospitalManagmentConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\HospitalManagment.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="HProgramming.Properties.Settings.HospitalManagmentSystConnectionString"
            connectionString="Data Source=DESKTOP-FLN043B\CYBDRY;Initial Catalog=HospitalManagmentSyst;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HProgramming.Properties.Settings.HospitalManagmentSystemConnectionString"
            connectionString="Data Source=DESKTOP-FLN043B\CYBDRY;Initial Catalog=HospitalManagmentSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>